<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <!-- Here -->
    <h2>List of Enrolled Courses</h2>
    <ul>
        <% courses.forEach(course => { %>
            <ul>
                <li>
                    Course: <%= course.id %>
                    Course name: <%= course.name %>
                    <br>
                    
                </li>
            </ul>
        <% }) %>
</body>
</html>
